* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #2b2235;
}

body {
  min-height: 100vh;
  background: #211e22;
  color: rgba(255,255,255,.8);
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

nav, footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
}

nav a, footer a {
  opacity: .4;
}

nav a:hover, footer a:hover {
  opacity: .8;
}

nav > a:not(:last-child), footer > a:not(:last-child) {
  margin-right: 40px;
}


h1 {
  color: rgba(255,255,255,.9);
}

h1 > aside,
h2 > aside,
h3 > aside,
h4 > aside {
  display: inline-block;
  font-size: max(.5em, 14px);
  font-weight: 100;
  font-style: italic;
  opacity: .6;
  margin-left: 8px;
}

h1 > .subtitle {
  display: block;
  font-size: 20px;
  opacity: .8;
  font-weight: normal;
  font-style: italic;
}

h3 + p,
h4 + p {
  margin-top: -8px;
}

ul > li:not(:last-child) {
  margin-bottom: 8px;
}

ul.posts {
  list-style: none;
}

ul.posts li span {
  display: inline-block;
  min-width: 100px;
  opacity: .5;
  text-align: right;
  margin-right: 10px;
}

body p {
  line-height: 1.5;
}

a {
  color: white;
  opacity: .8;
}

a[href^="https:"],
a[href^="http:"],
a[href^="//"] {
  color: #caa5ff;
}

h2 {
  margin-top: 48px;
}

sup {
  vertical-align: top;
}

sup a {
  position: relative;
  top: -4px;
  color: #caa5ff;
  margin: 0 2px;
  text-decoration: none;
}

span.asterisk {
  color: #caa5ff;
}

.tableOverflow {
  margin: 0 -16px;
  width: calc(100% + 32px);
  overflow-x: auto;
  padding: 0 16px;
  position: relative;
}

body > aside {
  border-left: solid 4px #caa5ff88;
  padding-left: 8px;
}

body > aside strong:first-child {
  color: #caa5ffcc;
}

table {
  border-collapse: collapse;
  text-align: left;
  min-width: calc(600px - 32px);
}

table tr {
}

table th {
  border-bottom: solid 1px white;
}

table th, table td {
  padding: 8px 4px;
}

ol#footnotes {
  padding-left: 0px;
  list-style: none;
  counter-reset: list-number;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 40px;
}

ol#footnotes li {
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin: 0 -16px;
  position: relative;
  transition: .15s ease-in-out background;
}

ol#footnotes li::before {
  counter-increment: list-number;
  content: counter(list-number);
  color: #caa5ff;
  width: 20px;
  margin-right: 8px;
}

ol#footnotes li a {
  margin-left: 8px;
  color: #caa5ff;
}

ol#footnotes li:first-child::after {
  position: absolute;
  top: 1px;
  width: calc(100% - 32px);
  background: #caa5ff;
  opacity: .4;
  height: 1px;
  content: '';
}

ol#footnotes li:target {
  background: #3d3548;
}

footer {
  margin-top: 40px;
  flex: 1;
  position: relative;
}

footer::before {
  position: absolute;
  bottom: 36px;
  width: calc(100% - 0px);
  height: 1px;
  margin: 0 auto;
  content: '';
  background: #caa5ff;
  opacity: .4;
}

ol#footnotes + footer {
  flex: initial;
  margin-top: 0;
}

ol#footnotes + footer::before {
  display: none;
}
